/**
 * Grundlegende Stylings für HTML-Elemente.
 */
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    font-size: 16px;
    line-height: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    line-height: 1.5em;
}

article:after {
    content: '';
    display: block;
    clear: both;
}

img {
    max-width: 100%;
    margin-bottom: 0.5em;
}

@media screen and (min-width: 600px) {   
    p img {
        max-width: 20%;
        float: left;
        margin-right: 1em;
    }
}