/**
 * Layoutspezifische Styles wie Sidebar und Boxanordnung.
 */

.wrapper {
    /* Maximal 960px Breite zentriert. */
    max-width: 960px;
    margin: 0 auto;
}

@media screen and (min-width: 800px) {
    .sidebar, .content {
        float: left;
    }
    .sidebar {
        width: 20%;
    }
    
    .content {
        width: 50%;
        margin-left: 25%;
    }
    
    .sidebar-left {
        margin-left: -75%;
    }
    
    .sidebar-right {
        margin-left: 5%;
    }
    
    footer {
        clear: both;
    }
}