/**
 * Styling einzelner Komponenten wie Boxen, Datum, Bilder ...
 */

/* Header and Logo */

img.logo, .page-title {
    vertical-align: middle;
}

img.logo {
    height: 5em;
    margin-right: 1em;
}

.page-title {
    font-size: 3em;
}

/* Menü */

ul.menu {
    list-style: none;
    padding: 0;
}

ul.menu li {
    margin-right: 0.3em;
    margin-bottom: 0.5em;
}

@media screen and (min-width: 600px) {
    ul.menu li {
        display: inline-block;
        
    }
}

ul.menu li a {
    display: block;
    background: black;
    color: white;
    text-decoration: none;
    line-height: 2em;
    padding: 0 1em;
    transition: 0.3s ease;
    border-radius: 0.5em 0 0.5em 0;
}


ul.menu li a:hover {
    background: gray;
}

h1 {
    margin-top: 0;
}

/* Sidebar boxes. */

aside {
    background: #d9d9d9;
    padding: 0.5em;
    border-radius: 1em 0 1em 0;
    margin-bottom: 1em;
}
aside h3 {
    margin-top: 0;
}

/* Tags. */
ul.tags {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.tags li {
    display: inline;
    margin-right: 1em;
    font-size: 0.8em;
    font-weight: bold;
}

ul.tags li:before {
    content: '\00bb'
}

/* Datumsangaben */
date {
    font-style: italic;
    color: gray;
    font-size: 0.8em;
}

/* Artikellisting */

article {
    border-bottom: 2px dashed gray;
}

article:last-child {
    border-bottom: none;
}

article h2 {
    margin-bottom: 0;
}

/* footer */
footer {
    padding: 1em 2em;
    font-style: italic;
    color: white;
    background: gray;
}